

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* --------------------- */
/* ------ HEADER ------- */
/* --------------------- */

header {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0 2rem 0;
  border-bottom: #666 solid;
  border-width: 0.1rem;
}

.name {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#name-surname {
  font-size: 2rem;
}

#bachelor {
  font-size: 1.2rem;
  color: #666;
}

nav a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease; /* Adding transition effect */
  text-align: center;
}

nav a:hover {
  text-decoration: underline;
}

/* --------------------- */
/* ------- MIDDLE ------ */
/* --------------------- */
section {
  padding-top: 1rem;
}
#bio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: justify;
}

.text-wrapper{
  width: 75%;
  padding-right: 2rem;
}

.img-wrapper {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.img-wrapper img {
  width: 100%;
  height: auto;
  border-radius: 5%;
}

/* --------------------- */
/* ------ FOOTER ------- */
/* --------------------- */

footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #999;
  border-top: #666 solid;
  border-width: 0.1rem;
  font-size: 0.9rem;
}

#social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#social-links i {
  margin: .5rem;
  color: #666;
}

#social-links i:hover {
  color:#fff;
}

#copyright {
  margin: .5rem;
}
