<footer id="footer" class="col-md-7 col-sm-12 d-flex flex-column justify-content-center align-items-center" data-aos="fade-up">
<div id="social-links">
    <a href="https://www.github.com/giacomo-ciro" target="_blank">
    <i class="fa-brands fa-github fa-3x"></i>
    </a>
    <a href="https://www.linkedin.com/in/giacomo-ciro/" target="_blank">
    <i class="fa-brands fa-linkedin fa-3x"></i>
    </a>
    <a href="https://scholar.google.com/citations?user=tSp1S0AAAAAJ" target="_blank">
    <i class="fa-brands fa-google-scholar fa-3x"></i>
    </a>
    <a href="mailto:giacomociro02@gmail.com">
    <i class="fa-solid fa-envelope fa-3x"></i>
    </a>
 </div>
<div id="copyright">
    &copy; 2026 Giacomo Cirò | Last update: July 2026
</div>
</footer>