<header id="header" class="header d-flex align-items-center sticky-top">
<div class="container-fluid position-relative d-flex align-items-center justify-content-around">
    <div class="col-md-7">
    <a href="/" class="d-flex flex-column">
        <h1 class="hero-title">{{ site.title }}</h1>
        <h2 class="hero-subtitle">{{ page.title }}</h2>
    </a>
    </div>
    
    <div class="upper-right-nav col-md-5 d-flex align-items-center justify-content-end">
    <nav id="navmenu" class="navmenu">
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{{ '/projects/' | relative_url }}">Projects</a></li>
        <li><a href="{{ '/timeline/' | relative_url }}">Timeline</a></li>
        <li><a href="{{ '/quotes/' | relative_url }}">Quotes</a></li>
        </ul>
    </nav>
        <a class="btn-cv" href="/assets/docs/Giacomo_Ciro_CV.pdf" target="_blank">CV</a>
    </div>
</div>
</header>