<div class="container-fluid position-relative d-flex align-items-center justify-content-around">
    <div class="col-md-7">
    <a href="index.html" class="d-flex flex-column">
        <h1 class="hero-title">Giacomo Cirò</h1>
        <h2 class="hero-subtitle">MSc in Artificial Intelligence</h2>
    </a>
    </div>
    
    <div class="upper-right-nav col-md-5 d-flex align-items-center justify-content-end">
    <nav id="navmenu" class="navmenu">
        <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="timeline.html">Timeline</a></li>
        <li><a href="quotes.html">Quotes</a></li>
        </ul>
    </nav>
        <a class="btn-cv" href="assets/docs/Giacomo_Ciro_CV.pdf" target="_blank">CV</a>
    </div>
</div>