<!-- _layouts/default.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body class="{{ page.class }}">
  {% include header.html %}
  <main>
    {{ content }}
  </main>
  {% include footer.html %}
  {% include chatbot.html %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://kit.fontawesome.com/2aecf49df8.js" crossorigin="anonymous"></script>
  <script src="{{ '/assets/js/script.js' | relative_url }}" async></script>
</body>
</html>
